extends ../../layout

block title
	title СПИСОК ТОВАРОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК ТОВАРОВ
	br
	a.add(href='/auth/items/add') добавить товар
	br
	br
	.main_menu_block
		each item in items
			.item
				a.rm_item(href='#', id=item._id)= 'удалить '
				!=' | '
				a(href='/auth/items/edit/' + item._id)= item.title.ru