extends ../../layout

block title
	title РЕДАКТИРОВАТЬ ПРОЕКТ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title РАБОТА
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/projects') < Назад
		.title РЕДАКТИРОВАТЬ ПРОЕКТ
		form(action="", method="post")
			.form_title Название:
			input.ru(type="text", name="ru[title]", value=project.title.ru)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)=project.description.ru
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Прошлые:
			input(type='checkbox', name='old', value='true', checked=project.old)
			|архив
			.form_title Категория:
			select(name='category')
				option(value='') нет
				option(value='altai') Алтайский край
				option(value='belg') Белгородская область
			br
			br
			input(type='submit', value='отправить')