doctype html
html
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.main_block
			.menu_block
				.logo
			.order_block
				.order_title
				.order_image
				.order_price
				.order_sizes
				input.order_email(type='text', placeholder='e-mail')
				input.order_adress(type='text', placeholder='Адрес доставки')
				button.submit_order Купить
			.content_block
				block content