doctype html
html
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.main_block
			.menu_block
				.logo 11 05
			.order_block
				.order_title
				.order_image
				.order_block_title Цена:
				.order_price
				.order_block_title Размер:
				select.order_size(name='size')
					option(value='') ...
					option(value='s') S
					option(value='m') M
					option(value='l') L
					option(value='xl') XL
				input.order_name(type='name', placeholder='Имя')
				input.order_email(type='email', placeholder='e-mail')
				input.order_phone(type='phone', placeholder='Телефон')
				input.order_adress(type='text', placeholder='Адрес доставки')
				.submit_order Заказать
			.content_block
				block content