doctype html
html
	head
		include header
	body
		- var date = new Date()
		//- include counters
		.main_block
			.menu_block
				.logo
			.order_block
				.order_title
				.order_image
				.order_sizes
			.content_block
				block content