extends ../layout

block title
	title ГЛАВНАЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)


block content
	.cub.black: .logo_main 1
	.cub.white
		.logo_main 1
		.buy_items
			each item in items
				.buy_item(id=item._id)
					.buy_btn buy
					.buy_title= item.title.ru
					.buy_image(style='background-image: url(' + item.image + ')')
	.cub.black: .logo_main 5
	.cub.white: .logo_main 0