extends ../layout

block title
	title 11 05

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)


mixin getItems(category)
	each item in items
		if (item.category == category)
			.buy_item(id=item._id)
				.buy_image(style='background-image: url(' + item.image + ')')
				.buy_title_block
					.buy_btn buy
					.buy_title= item.title.ru


block content
	.cub.black.rotate
		.logo_main(style='background-image: url(/images/design/main/l_up.jpg)')
		.buy_items
			+getItems('l_up')
	.cub.black
		.logo_main(style='background-image: url(/images/design/main/r_up.jpg)')
		.buy_items
			+getItems('r_up')
	.cub.black.rotate
		.logo_main(style='background-image: url(/images/design/main/r_dw.jpg)')
		.buy_items
			+getItems('r_dw')
	.cub.black
		.logo_main(style='background-image: url(/images/design/main/l_dw.jpg)')
		.buy_items
			+getItems('l_dw')