/*
	Cubs block
 */


.cub {
		width: 50%;
		height: 50%;
		position: absolute;
}

.number {
	text-align: center;
	font: 160pt/260pt Helvetica;
	font-weight: bold;
}

.cub:nth-child(odd) .number {
	-webkit-transform:rotate(180deg);
}

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black
}

.cub:nth-child(2) {
	left: 50%;
}

.cub:nth-child(3) {
	top: 50%;
	left: 50%;
}

.cub:nth-child(4) {
	top: 50%;
}


/*
	Buy items block
 */


.buy_items {
	width: 90%;
	height: 90%;
	margin-top: 20px;
	float: left;
	overflow: hidden;
	display: none;
}


.buy_item {
	overflow: hidden;
}


.buy_title {
	margin-left: 10px;
	text-transform: uppercase;
	-webkit-transform:rotate(90deg);
	-webkit-transform-origin: 10px;
	font: 14pt/16pt Helvetica;
	font-weight: bold;
	position: absolute;
	/*outline: 1px solid red;*/
}

.bb {
	width: 100%;
	height: 330px;
	margin-left: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}