/*
	Cubs block
 */


.cub {
		width: 50%;
		height: 50%;
		position: absolute;
}

.logo_main {
	text-align: center;
	font: 160pt/260pt Helvetica;
	font-weight: bold;
}

.cub:nth-child(odd) .logo_main {
	-webkit-transform:rotate(180deg);
}

.black {
	background-color: black;
	color: white;
}

.white {
	background-color: white;
	color: black
}

.cub:nth-child(2) {
	left: 50%;
}

.cub:nth-child(3) {
	top: 50%;
	left: 50%;
}

.cub:nth-child(4) {
	top: 50%;
}


/*
	Buy items block
 */


.buy_items {
	width: 90%;
	height: 90%;
	margin-top: 20px;
	float: left;
	overflow: hidden;
	display: none;
}


.buy_item {
	overflow: hidden;
}


.buy_title {
	margin-left: 10px;
	text-transform: uppercase;
	-webkit-transform:rotate(90deg);
	-webkit-transform-origin: 10px;
	font: 14pt/16pt Helvetica;
	font-weight: bold;
	position: absolute;
	/*outline: 1px solid red;*/
}

.buy_image {
	width: 100%;
	height: 330px;
	margin-left: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.buy_btn {
	position: absolute;
	left: 8px;
	bottom: 22px;
	font: 12pt/14pt Helvetica;
	cursor: pointer;
	padding: 2px;
	border: 1px solid black;
}

.buy_btn:hover {
	background-color: black;
	color: white;
}

.order_block {
	width: 550px;
	height: 400px;
	position: absolute;
	background-color: white;
	z-index: 99999999;
	display: none;
	left: 50%;
	top: 25%;
	margin-left: -275px;
	border: 5px solid black;
}